<!DOCTYPE html>
<html>
	<head>

		<!-- META Information -->
		<title>{% if page.permalink != '/' %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS Includes -->
		<link rel="stylesheet" href="/css/main.css">		

		<!-- JS Includes -->
		<script src="https://unpkg.com/jquery@3/dist/jquery.min.js"></script>
		<link rel="stylesheet" href="/js/justifiedGallery.min/justifiedGallery.min.css" />
		<script src="/js/justifiedGallery.min/jquery.justifiedGallery.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/lightbox2@2.11.3/dist/css/lightbox.min.css" />
		<script src="https://unpkg.com/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>
		<script src="/js/main.js"></script>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-E231447EXB"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-E231447EXB');
		</script>

	</head>
	<body>