{% include header.html %}

    <div class="container">
        <h2>{{ page.intro }}</h2>
        <div class="gallery" id="justified-gallery">
            {% for image in page.images %}
                <a href="{{ image.url }}" data-lightbox="gallery" data-title="{{ image.caption }}">
                    <img src="{{ image.url }}" alt="{{ image.caption }}"/>
                </a>
            {% endfor %}
        </div>
        <div id="expand-gallery">Load more images</div>
        <div class="content">{{ page.content | markdownify }}</div>
    </div>

{% include footer.html %}